.registerTable {
    margin-top:50px; margin-bottom: 50px;
    font-size:1.5em;
}

.registerTextBox {
    height: 20px;
    font-size:1.5em;
}

.dashboardPanel {
    margin-top: 100px;
    margin-bottom: 100px;
}

.textMargin {
    margin-bottom: 50px;
}
